# My python cheat sheet

### Basic input output

In [ ]:
# Taking input from the user
user_name = input("Enter your name: ")
age = input("Enter your age: ")

# Printing multiple values
print("Your age is", age, "and your name is", user_name + "!")

# Simple output
print("Welcome to Python programming!")

### Data type checking

In [ ]:
balance = 1000.0

print(type(balance))  # Check the Data type

### Data type conversion

In [ ]:
## you can change the data type of a value with int(), float() and str()

age = "25"
age = int(age)  # Change age to an integer
print(type(age))  # Check the Data type

height = 5.9
height = str(height)  # Change height to a string
print(type(height))  # Check the Data type

### For loop

In [ ]:
for i in range(5):  # Loop from 0 to 4
    print(f"Iteration {i}")

### While loop

In [ ]:
count = 1
while count <= 5:
    print(f"Count is {count}")
    count += 1

### Conditional statements

In [ ]:
num = 5

if num > 0:
    print("Number is positive")
elif num == 0:
    print("Number is zero")
else:
    print("Number is negative")

### Lists and slicing

In [8]:
numbers = [10, 20, 30, 40, 50]

# Accessing elements
print(numbers[0])    # First element: 10
print(numbers[-1])   # Last element: 50

# Slicing
print(numbers[1:4])  # Elements from index 1 to 3: [20, 30, 40]
print(numbers[:3])   # First three elements: [10, 20, 30]
print(numbers[2:])   # Elements from index 2 to end: [30, 40, 50]
print(numbers[:])    # All elements: [10, 20, 30, 40, 50]

# Slicing with negative indices
print(numbers[-3:])   # Last three elements: [30, 40, 50]
print(numbers[:-2])   # All except last two: [10, 20, 30]
print(numbers[-4:-1]) # From index -4 to -2: [20, 30, 40]

# Appending an element
numbers.append(4)  # my_list becomes [1, 2, 3, 4]
print(numbers)
# Removing an element
numbers.remove(4)  # my_list becomes [1, 3, 4]  
print(numbers)
# Inserting an element at a specific position
numbers.insert(1, 2)  # my_list becomes [1, 2, 3, 4]
print(numbers)

10
50
[20, 30, 40]
[10, 20, 30]
[30, 40, 50]
[10, 20, 30, 40, 50]
[30, 40, 50]
[10, 20, 30]
[20, 30, 40]
[10, 20, 30, 40, 50, 4]
[10, 20, 30, 40, 50]
[10, 2, 20, 30, 40, 50]

### Tuples

In [4]:
# ### Tuples

# - Tuples are like lists, but **immutable** (cannot be changed after creation).
# - Use parentheses `()` to define a tuple.
# Creating a tuple
my_tuple = (1, 2, 3, 4)

# Accessing elements
print(my_tuple[0])    # Output: 1

# Slicing
print(my_tuple[1:3])  # Output: (2, 3)

# Tuple with one element (note the comma)
single = (5,)
print(type(single))   # Output: <class 'tuple'>

# Tuple unpacking
a, b, c, d = my_tuple
print(a, d)           # Output: 1 4

# Tuples can contain different data types
mixed = (10, "hello", 3.14)
print(mixed)

1
(2, 3)
<class 'tuple'>
1 4
(10, 'hello', 3.14)

### Sets

In [9]:
# Sets examples and common methods

# Creating a set
fruits = {"apple", "banana", "cherry"}
print(fruits)  # Output: {'apple', 'banana', 'cherry'}

# .add() - Add an element
fruits.add("orange")
print(fruits)  # Output: {'apple', 'banana', 'cherry', 'orange'}

# .remove() - Remove an element (raises error if not found)
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry', 'orange'}

# .clear() - Remove all elements
fruits.clear()
print(fruits)  # Output: set()

# .union() - Combine two sets (returns a new set)
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# .difference() - Elements in set1 but not in set2
diff_set = set1.difference(set2)
print(diff_set)  # Output: {1, 2}

{'cherry', 'banana', 'apple'}
{'cherry', 'banana', 'orange', 'apple'}
{'cherry', 'orange', 'apple'}
set()
{1, 2, 3, 4, 5}
{1, 2}